.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}

.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
}

.repel {
  align-items: var(--repel-vertical-alignment,center);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter,var(--space-s-l));
  justify-content: space-between;
}

/* Tags list */
dl.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  align-items: center;
  font-size:.85em;
  margin-top: .2em;
}

dl.meta dt {
  flex-basis: 8rem;
  flex-grow: 1;
}

dl.meta dd {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: block;
}

dl.meta a {
  margin-right: .4em;
}
