.card {
  /* light-mode */
  /*background: var(--color-dark);*/
  /*border: 4px solid var(--color-dark);*/
  
  /* dark-mode */
  background: #bbb;
  border: 4px solid var(--color-secondary);
  
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
}

/*.card ::selection {*/
/*  color: var(--color-dark);*/
/*  background: var(--color-secondary);*/
/*}*/

.card h2 {
  font-size: var(--size-step-3);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card:hover,
.card:focus-within {
  border: 4px solid var(--color-primary);
}

.card a {
  text-decoration: none;
}

/* Full-card clickable link */
.card__link {
  display: block;
  cursor: pointer;
}

.card:focus-within .card__link:focus {
  outline: none;
}
