---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in mx-auto">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-waves.svg' %}
</header>

<article class="wrapper region">
  <ul class="grid mt-xs" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = pagination.items %} {% for post in postslist %}

    <li class="card flow overflow-hidden">
      <a href="{{ post.url | url }}" class="card__link">
        <h2 style="view-transition-name: post-title-{{ post.url | slugify }};">{{ post.data.title }}</h2>
        {% set definedDate = post.date %} {% include "partials/date.njk" %}
        <p>{{ post.data.description }}</p>
      </a>
    </li>

    {% endfor %}
  </ul>
  {% include "partials/pagination.njk" %}
  <div class="wrapper flow prose">
    <details>
      <summary>Tags</summary>
      <div class="cluster" style="gap: var(--space-s);">
        {% for tag in collections.all | getAllTags | filterTagList | sort %}
      
          <a href="/tags/{{ tag | slugify }}/" class="post-tag">{{ tag }}</a>
      
        {% endfor %}
      </div>
    </details>
  </div>
</article>
