---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="post-title">{{ title }}</h1>
    <dl class="meta">
      {% set definedDate = date %}
      <dt>Published:</dt>
      <dd>{% include "partials/date.njk" %}</dd>

      {% if updated %}
        {% set definedDate = updated %}
        <dt>Updated:</dt>
        <dd>{% include "partials/date.njk" %}</dd>
      {% endif %}

      {% set postTags = tags | filterTagList | sort %}
      {% if postTags.length > 0 %}
        <dt>Tags:</dt>
        <dd>
        {% for tag in postTags %}
          <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
        {% endfor %}
        </dd>
      {% endif %}
      
      <dt>Reading time:</dt>
      <dd>About {{ content | readingTime }}</dd>
    </dl>

    {{ content | safe }}

    {% set mentions = webmentions.mentions | webmentionsByUrl(page.url) %}
    {% if  mentions.mentionCount > 0 %}
      {% include 'partials/webmentions.njk' %}
    {% endif %}
  </div>
</article>
