<section class="webmentions">
        <h4>💬 Discuss on <a href="{{ mentions.mastodonUrl }}">Mastodon</a></h4>
    {% if mentions.likes %}
        <h4>{{ mentions.likes }} Like{{ "s" if mentions.likes !== 1 }} ❤️</h4>
    {% endif %}

    {% if mentions.reposts %}
        <h4>{{ mentions.reposts }} Repost{{ "s" if mentions.reposts !== 1 }} ♻</h4>
    {% endif %}

    {% if mentions.comments %}
        <h4>{{ mentions.comments }} Comment{{ "s" if mentions.comments !== 1 }} 💬</h4>
    {% endif %}
</section>