<section class="webmentions">
    {% if mentions.likes %}
        <h4>Likes ❤️</h4>
        <div class="likes">
          {% for item in mentions.likes %}
              <a href="{{ item.url }}"><img src="{{ item.photo }}" class="mention-image" alt="photo of the author of one of the webmentions for this page"></a>
          {% endfor %}
        </div>
    {% endif %}

    {% if mentions.reposts %}
        <h4>Reposts ♻</h4>
        <div class="reposts">
            {% for item in mentions.reposts %}
                <a href="{{ item.url }}"><img src="{{ item.photo }}" class="mention-image" alt="photo of the author of one of the webmentions for this page"></a>
            {% endfor %}
        </div>
    {% endif %}

    {% if mentions.comments %}
        <details>
            <summary>{{ mentions.comments | length }} Comment{{ "s" if mentions.comments | length > 1 }} 💬</summary>
            <div class="comments">
                {% for item in mentions.comments %}
                    <div class="comment">
                        <a href="{{ item.author.url }}" class="comment-author">
                            <img src="{{ item.author.photo}}" class="mention-image" alt="photo of the author of one of the webmentions for this page">
                            <span class="comment-author-text">{{ item.author.name }}</span>
                        </a>
                        <a class="comment-date" href="{{ item.url }}">{{ item.published | formatDate('YYYY-MM-DD HH:MM') }}</a>
                        <div class="comment-content">{{ item.content | safe }}</div>
                    </div>
                {% endfor %}
            </div>
        </details>
    {% endif %}
</section>